@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Antonio", sans-serif;
  font-weight: 700;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__choose-title, .header__choose-subtitle, .form-label, .form-btn, .p-item, .section__form label, .section__form-title, .section__form-subtitle, .card-item-btn, .cart-item-title, .swal-text {
  font-family: "Oswald", sans-serif;
}

.header__inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-text {
  font-size: 59px;
}

.header__choose {
  display: flex;
  flex-direction: column;
  margin: 0 186px;
}

.header__choose-title {
  margin-top: 15px;
  font-size: 32px;
}

.header__choose-subtitle {
  margin-top: 10px;
  cursor: pointer;
}

.form__inner {
  display: flex;
  align-items: baseline;
}

.form__wrapper {
  display: flex;
  width: 49%;
}

.form__item {
  margin: 10px 0;
}

.form-input {
  border-radius: 15px;
}

.form-btn {
  border: none;
  color: #fff;
  background-color: black;
  border: 1px solid #000;
  border-radius: 15px;
  padding: 10px 10px;
  transition: all 0.5s;
  margin-left: 3px;
}

.form-btn:hover {
  color: #000;
  background-color: #fff;
}

.p-item {
  background-color: black;
  color: #fff;
  padding: 8px 20px;
  border-radius: 8px;
  width: 100px;
  display: inline-block;
  margin: 10px 10px;
  text-align: center;
}

.section__inner {
  display: flex;
}

.section__form label {
  font-size: 20px;
}

.section__form-title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 16px;
  font-size: 23px;
}

.section__form-subtitle {
  margin-bottom: 10px;
  font-size: 20px;
}

.section__form-subtitle.last {
  margin-top: 20px;
}

.card-item {
  width: 420px;
  height: 550px;
  background-color: #fff;
  box-shadow: -8px 1px 10px 4px rgba(34, 60, 80, 0.2);
  padding: 20px;
  margin: 40px 40px;
}

.card-item-img {
  display: flex;
  justify-content: center;
}

.card-item-img img {
  width: 80%;
}

.card-item__price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-item-price {
  font-size: 30px;
}

.card-item-btn {
  border: none;
  border-radius: 15px;
  border: 1px solid #000;
  font-size: 19px;
  background: #000;
  color: #fff;
  padding: 10px 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin-right: 30px;
}

.card-item-btn:hover {
  background: #fff;
  color: #000;
}

.card__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.active {
  visibility: hidden;
}

.cart__inner {
  width: 346px;
  min-height: 350px;
  box-shadow: -8px 1px 10px 4px rgba(34, 60, 80, 0.2);
  z-index: 20;
  margin-top: 20px;
  margin-bottom: 26px;
}

.cart-item {
  display: flex;
  align-items: center;
}

.cart-item-img {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.cart-item-img img {
  width: 100px;
  height: 100px;
}

.cart-item-title {
  font-size: 25px;
}

.cart-item-delete {
  margin-top: 65px;
  margin-left: 42px;
}

.counter {
  display: flex;
}

.counter__value {
  width: 27px;
  height: min-content;
  text-align: center;
  margin: 12px 12px;
}

.counter__btn {
  height: min-content;
}

.card-item-price--cart {
  font-size: 24px;
}

.swal-text {
  font-size: 16px;
  position: relative;
  float: none;
  line-height: normal;
  vertical-align: top;
  text-align: left;
  display: inline-block;
  margin: 0;
  padding: 0 10px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.64);
  max-width: calc(100% - 20px);
  overflow-wrap: break-word;
  box-sizing: border-box;
}

.swal-button {
  border: none;
  border-radius: 15px;
  border: 1px solid #000;
  font-size: 15px;
  background: #000;
  color: #fff;
  padding: 10px 10px;
  transition: all 0.5s;
  cursor: pointer;
}

.swal-button:not([disabled]):hover {
  background: #fff;
  color: #000;
}
